
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Days One";
}
body{
    height: 230vh;
    background-color: #d7e2f6 !important; 
    
}
.dark{
    background: linear-gradient(180deg, #000 0%,#062345 16.7%, #000 139.36%);
}
h1{
    color: #fefefe;
}
a{
    color:rgba(255,255,255,.5);
    font-size: 1rem;
    text-decoration: none;
    font-family: 'DM Sans';
}
a:hover{
    color:rgba(255,255,255,.8);
}
.active{
    color:rgba(255,255,255,1);
}
header{
   position: relative;
   padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:230px;
    height:86px;
}

li{
    list-style: none;
}
.navbar .links{
    padding-left: 30%;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}
.navbar .links.light a{
    color:rgba(0, 0, 0, 0.5);
}
.navbar .links.light a:hover{
    color:rgba(47, 43, 43, 0.8);
}

.sign-in-btn{
    border-radius: 12px;
    background-color: white;
    color: #062345;
    width: 10%;
     display:flex; 
     justify-content: center;
     transition: scale 0.6s ease;
     transition: color 0.4s ease-in-out;
    }
.sign-in-btn:hover{
    scale: 1.15;
    background-color: #041529;
    color: white;
}
.sign-in-btn.light{
    background-color: #041529;
    color: white;
}
.dropdown-menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(15px) ;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.6s ease-in-out;
}
.dropdown-menu.open{
    height: 180px;
}
.dropdown-menu li{
    padding: 0.7rem;
}
.navbar .toggle_btn{
    display: none;
}
.tipstitle {
    width: 568px;
    height: 80px;
    color: #ecebeb;
    font-family: "Days One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
}
.header{
    background-image: linear-gradient(170deg, hsl(204.28deg 95.1% 47.41%) 0%,hsl(205.99deg 55.02% 80.1%) 50%,hsl(242deg 96.65% 64.85%) 100%);;
    background-size: 100%;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.main_container{
display:grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-self: center;
margin: 0 auto;
height: 90vh;
z-index:1;
width: 100%;
max-width: 1300px;
padding:0 50px;
}
.main__img{
    width: 125%;
}
.main_btn{
    font-size: 1rem;
    background-image: linear-gradient(170deg, hsl(204.28deg 95.1% 47.41%) 0%,hsl(205.99deg 55.02% 80.1%) 50%,hsl(242deg 96.65% 64.85%) 100%);;
    padding:14px 32px;
    border:none;
    border-radius: 4px;
    margin-top: 2rem;
    margin-left: 1.5rem;
    cursor:pointer;
   
   
    outline: none;
}
.main_btn a{
    text-decoration: none;
    color: hsl(242deg 92.72% 15.04%);
    
    font-weight: 900;
   
}

.main_btn:hover{
    background-image: linear-gradient(170deg, hsl(204, 100%, 24%) 0%,hsl(206, 17%, 50%) 50%,hsl(242, 56%, 30%) 100%);
    
}
.main_btn:hover a{
color: #d7e2f6;
}
.services{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}
.services h1{
    background-image: linear-gradient(45deg,#bbc4fb 0%,#7ab6ff 30%,#7ff4ff 60%,#abb5ec 100%);
    background-size: 100%;
    margin-bottom: 4rem;
    font-size:2rem;
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}
.services_container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.services_card{
    margin:1rem;
    height: 248px;
    width: 271px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(17,17,17,0.6)100%), url("../images/Tips.jpg");
    background-size: cover;
    position:relative;
    color:#fff;
}
.services_card:nth-child(2){
   
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(17,17,17,0.6)100%), url("../images/shelter.jpg");
    background-size: cover;
    position:relative;
    color:#fff;
}
.services_card:nth-child(3){
   
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(17,17,17,0.6)100%), url("../images/Projections.jpg");
    background-size: cover;
    position:relative;
    color:#fff;
}
.services h2{
    position: absolute;
    top: 147px;
    left: 30px;
    font-size: 18px;
}
.services_card p{
    position: absolute;
    top: 215px;
    left: 30px;
}
.services_card button{
    color:#fff;
    padding: 10px 30px;
    border:none;
    outline:none;
    border-radius:4px;
    background:#4c8bd9;
    position:aboslute;
    top:440px;
    left: 30px;
    font-size: 1rem;
    cursor:pointer;
}
.services_card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor:pointer;
}
.footer__container{
    margin: 0px 58px;
}
.footer_links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.foot__link--items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.foot__link--items h2{
    background-image: linear-gradient(45deg,#bbc4fb 0%,#7ab6ff 30%,#7ff4ff 60%,#abb5ec 100%);
    -webkit-background-clip:text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

@media (max-width:1025px){
    a{
        font-size: 0.8rem;
    }
}
@media (max-width: 1024px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
   
}
@media (max-width: 769px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .navbar .logo_active{
        width: 50%;
    }
    .sign-in-btn{
        font-size: 70%;
    }
    .dropdown-menu.open{
            height: 180px;
        }
    .tipstitle{
            font-size: 27px;
        }
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main_content{
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .main_img--container{
        width:70%;
        padding: 1rem 0rem;
    }
    .services{
        margin-top: 11rem;
    }
    .services_container{
        display:flex;
        flex-direction: column;
        justify-content:center;
        flex-wrap: wrap;
    }
    .footer__container{
        margin: 379px 0px 58px 58px;
    }
    
}
@media (max-width: 426px) {
    
    .sign-in-btn{
        font-size: 50%;
    }
    .dropdown-menu.open{
            height: 90px;     
        }
    .dropdown-menu{
        width: 100px;
    }
    .dropdown-menu li{
        padding: 0.009rem;
        padding-left: 0.5rem;
    }
    .dropdown-menu a{
        font-size: 0.5rem;

    }
    .tipstitle{
        
        margin-left: -129px;
        font-size: 23px;
    }
    .main_content{
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .main_img--container{
        width:70%;
        padding: 1rem 0rem;
    }
    .main_btn{
    padding: 7px 12px;
    margin-top: 0rem;
    margin-left: -6.5rem;
    }
    .main_btn a{
    font-size: 0.7rem;
    padding: 6px 20px;
    
    }
    .main__img {
        width: 105%;
    }
    .services {
        margin-top: 5rem;
    }
    .services h1{
        margin-bottom: 0rem;
        font-size: 1.4rem;
    }
    .footer_links{
        flex-wrap: nowrap;
        position: absolute;
        top: 330%;
    }
    .foot__link--items h2{
        font-size: 13px;
    }
    .footer__links_wrapper{
        padding-right: 20px;
    }
}
#gif-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) url('../images/powerouttage.webp') no-repeat center center fixed;
    background-size: cover;
    
}